/* <-----Google Fonts-----> */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* <-----Reset CSS-----> */

* {
    margin: 0;
    padding: 0;
}

/* <-----Container CSS-----> */

.container {
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

/* <-----Header Tag CSS-----> */

.logo {
    font-size: 1.3rem;
}

.navbar {
    height: 67px;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

/* <-----Main Tag CSS-----> */

/* <---Section-1 CSS---> */

.section1 {
    max-height: 100vh;
}

.topleft {
    width: 50%;
}

.dumbellimg {
    width: 289px;
}

.topleft h1 {
    font-size: 2rem;
    color: rgb(226, 73, 55);
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.topright {
    width: 50%;
}

.gymimg {
    width: 466px;
}

/* <---Section-2 CSS---> */

.section2 {
    padding: 70px;
}

.section2 h1 {
    font-size: 2.5rem;
}

.section2 p {
    padding: 0 8vw;
    text-align: center;
}

.box {
    margin: 12px 22px;
    padding-left: 8px 0;
    min-width: 20vw;
    border: 2px solid rgb(226, 73, 55);
    border-radius: 8px;
    text-align: center;
}

.box h2 {
    font-size: 2rem;
    padding: 15px 0;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.highlighted {
    font-size: 1.3rem;
    font-weight: bolder;
}

/* <---Section-3 CSS---> */

.section3 {
    padding: 70px;
}

.section3 h1 {
    font-size: 2.5rem;
}

.section3 table {
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.plantable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table th {
    width: 23vw;
    padding: 15px 0;
    border-bottom: 2px solid black;
}

.section3 table td{
    border-bottom: 2px solid black;
}

/* <-----Footer Tag CSS-----> */

footer{
    padding: 23px;
    text-align: center;
}